---
import { Picture } from "astro:assets";
import Container from "../Container.astro";

---
<Container>
    <div class="AISupport flex flex-col mb-20">
        <img src="/src/assets/home/AISupportPart1.svg" alt=""/>
        <img class="ml-[20%]" src="/src/assets/home/AISupportPart2.svg" alt=""/>
        <img class="ml-[20%]" src="/src/assets/home/AISupportPart3.svg" alt=""/>
    </div>
</Container>

<style>
    .AISupport{
        width: 100%;
        background-image: url("/src/assets/home/AISupportBackground.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
