---
import { Picture } from "astro:assets";
import Container from "../Container.astro";

---
<Container>
    <div class="AISupport flex flex-col mb-20">
        <img src="/assets/home/AISupport/part1.svg" alt=""/>
    </div>
</Container>

<style>
    .AISupport{
        width: 100%;
        background-image: url("/assets/home/AISupport/background.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
