---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

import promo1 from "../../assets/promo-1.png";
import frameworkImage from "../../assets/framework.png";

const features = [
  {
    title: "更开源",
    description:
      "Serverless Devs 项目以开源形式进行建设，人人可参与，人人可贡献，希望通过开源建设，可以让开发者们\"做主\"自己的工具，共建\"生产力\"。",
    icon: "bx:bxs-folder-open",
  },
  {
    title: "更开放",
    description:
      "共建Serverless Registry开放生态，类似于 npm、pypi，Serverless Registry 是 Serverless 领域的生态开放基石。",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "更自由",
    description:
      "基于组件化和插件化的设计思路，Serverless Devs 无厂商锁定，帮助开发者快速部署基于多云、多产品的应用。",
    icon: "bx:bxs-lock-open",
  },
  {
    title: "更完整",
    description:
      "支持Serverless全生命周期管理，提供Serverless架构下一键应用部署、一站式开发、调试、测试、部署、运维等完善工具链，帮助您分分钟轻松玩转 Serverless 架构。",
    icon: "bx:bxs-box",
  },
  {
    title: "更简单",
    description:
      "Serverless Registry 开放大量应用，通过应用的模式，为开发者提供多种形式，多种领域以及多种场景的上手案例，轻松一键部署。",
    icon: "bx:bxs-happy",
  },
  {
    title: "易集成",
    description:
      "通过组件化的支持，非常简单的与传统的生态进行有机结合，非常简单的被集成到海量的自动化流程中",
    icon: "bx:bxs-layout",
  },
];

//["应用纬度的创建更新","应用纬度的环境划分","应用纬度的资源管理"]
const promo1Features = [{
  content:"应用纬度的创建更新",
  icon:"bx:bxs-component"
},{
  content:"应用纬度的环境划分",
  icon:"bx:bxs-cube"
},{
  content:"应用纬度的资源管理",
  icon:"bx:bxs-layer"
}]
---

<div class="">


</div>


