---
let {
    href,
    style,
    onlyIcon,
    id,
    mode = 'line'
} = Astro.props;
---

<a href={href} target="_blank" id={id} style={style}
   class={`cursor-pointer inline-flex flex-nowrap text-nowrap ${mode == 'line' ? 'text-white bg-white/10' : 'text-black bg-white'} items-center justify-center  border-[0.8px] border-[#b3b6c1] ${onlyIcon ? 'rounded-full h-full aspect-square' : 'fullButton rounded-[32px] h-full px-8 py-2'}`}>
    <slot/>
    <img class="goIcon" src="/assets/icons/go.svg" alt=""/>
</a>


<style>

    .fullButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.8vw;
    }

    .goIcon {
        display: none;
        width: 0.7em;
        height: 0.7em;
    }

    .fullButton:hover .goIcon {
        display: block;
    }
</style>
