---
import blueFireIcon from "@assets/icons/blurFire.svg";
import starIcon from "@assets/icons/star.svg";
import {Picture} from "astro:assets";
import Container from "../Container.astro";
import LineCard from "../LineCard.astro";

// GET api.devsapp.cn/v3/packages/releases
const [components, applications, plugins] = await Promise.all([
  fetch('https://api.devsapp.cn/v3/packages/releases?page=1&platform=3&type=1&sort=download').then(res => res.json()),
  fetch('https://api.devsapp.cn/v3/console/1/tabs/5').then(res => res.json()),
  fetch('https://api.devsapp.cn/v3/packages/releases?page=1&platform=3&type=2&sort=download').then(res => res.json())
]);

const TEMPLATE_SORTS = [{
    title: "应用",
    templates: applications.body.slice(0, 12)
},{
    title: "组件",
    templates: components.body.slice(0, 12)
},{
    title: "插件",
    templates: plugins.body.slice(0, 12)
}]

const ALL_TEMPLATE_SORTS = [{
    title: "全部",
    templates: TEMPLATE_SORTS.flatMap(item => item.templates)
}, ...TEMPLATE_SORTS]
---
<Container>
    <div class="px-10 sm:px-16 lg:px-36">
        <p class="text-sm font-medium leading-10"
           style="background: linear-gradient(134.09deg, rgba(38, 44, 244, 1) 0%, rgba(113, 64, 255, 1) 100%);background-clip: text;color: transparent;">
            为什么选择Devs？</p>
        <p class="text-white text-3xl leading-10 font-medium tracking-widest">有成百上千的应用模版供您选择</p>
        <div class="flex flex-row items-center gap-5 mt-5">
            {
                ALL_TEMPLATE_SORTS.map(sort => (
                        <a class={`cursor-pointer templateSort flex flex-row items-center justify-center px-4 py-1 text-sm sort border border-[#4a4c57] hover:bg-white hover:text-black ${sort.title == '全部' ? 'selectedSort' : ''}`}
                           data-sort-title={sort.title}>{sort.title}</a>
                ))
            }
        </div>
        {
            ALL_TEMPLATE_SORTS.map(sort => (
                    <div class={`templates grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-5 ${sort.title == '全部' ? '' : 'hidden'}`}
                         data-sort-title={sort.title} >
                        {
                            sort.templates.map(template => (
                                    <LineCard
                                            title={template?.package?.name || template.name}
                                            url={`https://registry.serverless-devs.com/details/${template?.package?.name || template.name}`}
                                            description={template?.package?.description || template.description}
                                            date={template?.package?.latest_create || template.latest_create}
                                            hot={template?.package?.download || template.download}
                                            logo={template.logo || ''}
                                            >
                                            
                                    </LineCard>
                            ))
                        }
                    </div>
            ))
        }
    </div>
</Container>

<script>

    document.querySelectorAll('.templateSort').forEach(item => {
        item.addEventListener('click', function () {
            const selectedSort = item.getAttribute('data-sort-title') || '全部';
            console.log(selectedSort)

            document.querySelectorAll('.templateSort').forEach(sortItem => {
                sortItem.classList.remove('selectedSort');
            })

            item.classList.add('selectedSort');

            document.querySelectorAll(`.templates[data-sort-title]`).forEach(sortItem => {
                const sortTitle = sortItem.getAttribute('data-sort-title');
                sortItem['style'].display = selectedSort === sortTitle ? 'grid' : 'none';
            })
        })
    })

</script>

<style>
    .selectedSort {
        opacity: 1;
        border-radius: 24px;
        background: white;
        color: rgba(18, 19, 22, 1) !important;
    }

    .sort {
        border-radius: 32px;
        color: white;
    }
</style>
